<%= link_to "Home page", root_path %>

<h1>
  <%= @post.title %>
</h1>

<p>
  <%= @post.body %>
</p>

<p>
  By:
  <br>
  <% if current_user %>
    <%= @post.user.name %>
  <% else %>
    Anonymous
  <% end %>
</p>